/.metadata/
/.recommenders/
/RemoteSystemsTempFiles/
/Servers/
../.gitignore
/.gitignore
/SaikenSaimu/SGB010/SGB010/obj
/SaikenSaimu/SGB010/SGB010/bin
/SaikenSaimu/SGL010/SGL010/obj
/SaikenSaimu/SGL010/SGL010/bin
/SaikenSaimu/SGL020/SGL020/obj
/SaikenSaimu/SGL020/SGL020/bin
/SaikenSaimu/SGL030/SGL030/obj
/SaikenSaimu/SGL030/SGL030/bin
/SaikenSaimu/SGL040/SGL040/bin
/SaikenSaimu/SGL040/SGL040/obj
/SaikenSaimu/SGL050/SGL050/obj
/SaikenSaimu/SGL050/SGL050/bin
/SaikenSaimu/SNE010/SNE010/obj
/SaikenSaimu/SNE010/SNE010/bin
/SaikenSaimu/SNE020/SNE020/obj
/SaikenSaimu/SNE020/SNE020/bin
/SaikenSaimu/SNE030/SNE030/obj
/SaikenSaimu/SNE030/SNE030/bin
/SaikenSaimu/SNL010/SNL010/obj
/SaikenSaimu/SNL010/SNL010/bin
/SaikenSaimu/SNL020/SNL020/obj
/SaikenSaimu/SNL020/SNL020/bin
/SaikenSaimu/SNL030/SNL030/obj
/SaikenSaimu/SNL030/SNL030/bin
/SaikenSaimu/SPE010/SPE010/obj
/SaikenSaimu/SPE010/SPE010/bin
/SaikenSaimu/SRE010/SRE010/obj
/SaikenSaimu/SRE010/SRE010/bin
/SaikenSaimu/SRL010/SRL010/obj
/SaikenSaimu/SRL010/SRL010/bin
/SaikenSaimu/SUE010/SUE010/obj
/SaikenSaimu/SUE010/SUE010/bin
/YoujiDoc/.vscode
